// First override some or all individual color variables
$primary: #25408f;
$secondary: #8f5325;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	// add any additional color below
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
	background: #2b2b2b;
	margin: 5px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background: #202731;
	border-radius: 20px;
}

.title {
	color: white;
	text-decoration: none;
	cursor: default;
}

.btn {
	display: inline-block;
	background: transparent;
	color: white;
	border: 2px solid white;
}

.btn:hover {
	background: white;
	color: black;
}

.navbar .btn {
	margin: 10px; 
  }

.home-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-decoration: none;
	text-align: center;
	margin: 10px;
	border-radius: 5px;
	padding: 5px;
	background: transparent;
	color: white;
	border: 2px solid white;
}

.home-button:hover {
	background: white;
	color: black;
}

.container {
	background: transparent;
	color: white;
	margin-top: 50px;
}

.card-deck {
	margin-top: 10px;
}